<section class="section">
    <div class="LSDiv">
      <h2> Student Entrance Exam </h2>
      <h2>
        Login
      </h2>
      <div class="LSDivInpDiv">
        <span>Username</span>
        <input type="UserName" [(ngModel)]="username">
      </div>
      <div class="LSDivInpDiv">
        <span>Password</span>
        <input type="password" [(ngModel)]="password">
      </div>
      <div class="LSBtsDiv">
        <button (click)="login()" class="btn" > Submit </button>
      </div>  
      <br>
    <br>
    <br>
    Demo Student Login<br>
    username=abc<br>
    password=abc<br>
    Demo Trainer Login<br>
    username=pqr<br>
    password=pqr
    </div>
    
  </section>